body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.logo-title {
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  font-weight: 700;
  font-size: 18px;
  color: #2e2f42;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
}

.logo-title-studio {
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  color: #2e2f42;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

.logo-title-go {
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
}

.navigation-link-go:focus {
  color: #404bbf;
}

.navigation-link-go:hover {
  color: #404bbf;
}

.navigation-link-go {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.address-list {
  font-style: normal;
}

.address-contact {
  font-family: "Roboto", sans-serif;
  color: #434455;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-contact:hover {
  color: #404bbf;
}

.address-contact:focus {
  color: #404bbf;
}

.section-one {
  background-color: #2e2f42;
}

.section-one-heading {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.section-one-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  color: #ffffff;
}

.section-one-button:hover {
  background-color: #404bbf;
}

.section-one-button:focus {
  background-color: #404bbf;
}

.button-text {
  color: #ffffff;
  font-weight: 500px;
  font-size: 16px;
}

.advantages-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.advantages-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.our-team-section {
  background-color: #f4f4fd;
}

.our-team-heading {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.our-team-list-item {
  background-color: #ffffff;
}

.our-team-employee-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our-team-employee-job-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 400;
}

.our-portfolio-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}

.our-portfolio-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our-portfolio-item-form {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

footer {
  background-color: #2e2f42;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.logo-title-footer {
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
}

.logo-title-studio-footer {
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  color: #f4f4fd;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Робота з розміщенням елементів*/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/*Header*/

.header-topline {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo-list {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navigation-link-go {
  padding: 24px 0;
}

.logo-title {
  padding: 24px 0;
  margin-right: 76px;
}

.address-ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-list {
  margin-left: auto;
}

.address-contact {
  display: block;
  padding: 24px 0;
}

/*Section 1 Heading*/

.section-one {
  padding: 188px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
  background-position: center;
  background-size: cover;
}

.section-one-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-one-heading {
  display: flex;
  align-items: center;
  padding-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
}

.section-one-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.button-text {
  padding: 16px 32px;
}

/*Section 2 Our Advantages*/

.advantages-list {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: auto;
}

.advantages-list-item {
  width: calc((100% - 72px) / 4);
}

.advantages-heading {
  margin-bottom: 8px;
}

/*Section 3 Our Team*/

.our-team-heading {
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.our-team-list-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-team-list-info-container {
  padding: 32px 0;
}

.our-team-employee-name {
  text-align: center;
  margin-bottom: 8px;
}

.our-team-employee-job-title {
  text-align: center;
}

/*Section 4 Our Portfolio*/

.our-portfolio-heading {
  margin-bottom: 72px;
}

.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.our-portfolio-list-item {
  width: calc((100% - 48px) / 3);
}

.our-portfolio-item {
  margin-bottom: 8px;
}

.item-container {
  padding: 32px 16px;
  border-right: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

/*Footer*/

.footer {
  padding: 100px 0;
}

.container-footer {
  flex-direction: column;
}

.logo-title-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
}

.advantages-list-icon {
  fill: currentColor;
}